.idea/
.venv/

/__pycache__/
/dist/
/build/
/_installer_cfg/

*.db
*.exe
*.ini
*.bmp
*.spec
*.manifest

for_tests.py
calendar_footage.py

install.txt
deploy.txt

s21-notify-version.txt
s21-updater-version.txt
update_info.json

